
/* 
.imgTag {
    backround
} */
body {
    background-color: #141619;
}

.logo {
    width: 32px;
    height: 32px;
    object-fit: contain; /* Ensures the image fits within the container without stretching */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
}

.yolo {
    display: flex;
    justify-content: space-between;
    /*justify-content : space-between;*/
}

header {
    font-size: 1.4em;

}

.city {
    display: flex;
    justify-content: center;
    padding-top: 1.2em;
    font-size: 2.1em;
}

.date {
    display: flex;
    justify-content: center;
    padding-top: .4em;
    font-size: 1.4em;
}

.curTemp {
    display: flex;
    justify-content: center;
    padding-top: .8em;
    padding-bottom: .5em;
    font-size: 4em;
}

.conditions {
    display: flex;
    justify-content: center;
    padding-bottom: .5em;
}

.temp {
    display: flex;
    justify-content: center;
}

@media (width < 600px) {
        .container {
            align-items : center;
    }
}




